<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376491113715-a9ocidck496fjff9anpuflh9jlmcsas4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376491113715-a9ocidck496fjff9anpuflh9jlmcsas4</string>
	<key>API_KEY</key>
	<string>AIzaSyBe3lqvCISDJNxnVv3xj4XQCoxhmnazSjI</string>
	<key>GCM_SENDER_ID</key>
	<string>376491113715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>noTeam.GB8Firebase</string>
	<key>PROJECT_ID</key>
	<string>gb8firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>gb8firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376491113715:ios:0a06f8d3ca96c506b10b86</string>
</dict>
</plist>